form label{
	overflow: hidden;
	overflow: clip;
	text-overflow: ellipsis;
}

form input[type=number]::-webkit-outer-spin-button,
form input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

form input[type=number]{
    -moz-appearance: textfield;
}
